{
    "name": "Tdoc",
    "common": {
        "title": "Tdoc",
        "footer": "Made By YonYouFED. © 2014 - 2016",
        "home": "tinper",
        "homeUrl": "http://tinper.org/",
        "navbars": []
    },
    "options": {
        "markdown": {
            "menuLevel": 2
        }
    },
    "pages": [{
        "name": "index",
        "title": "开始",
        "banner": {
            "title": "Tdoc",
            "description": "开始"
        },
        "content": "./README.md"
    }, {
        "name": "usage",
        "title": "使用",
        "banner": {
            "title": "Tdoc",
            "description": "使用"
        },
        "content": "./usage.md"
    }, {
        "name": "config",
        "title": "配置",
        "banner": {
            "title": "Tdoc",
            "description": "配置"
        },
        "content": "./config.md"
    }, {
        "name":"FAQ",
        "title":"FAQ",
        "url": "https://github.com/iuap-design/tdoc/issues"
    }]
}
